@import url(//fonts.googleapis.com/css?family=Roboto:300);

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#d3MapLayerBox {
  width: 150px;
  border-radius: 2px;
  background: rgba(0,0,0,0.4);
  border: 1px solid #222;
}
  /*end*/
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
}

h1, h2 {
	text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-size: 70px;
  font-family: Snell Roundhand, cursive;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #99d8c9; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

circle {
  fill: #99d8c9;
  stroke: #2ca25f;
}

path {
  fill: #99d8c9;
  stroke: #2ca25f;
}

circle.mouseover{
  stroke: #2ca25f;
  stroke-width: 4px;
}

.names {
  width: 100%;
}

.names td{
  text-align: center;
  padding-top: 5px;
  font-size: 15.0pt;
}

.names a{
  text-decoration: none ;
  color: #F4DD51;
}


.discussion{
  border-top: 1px solid black;
  width: 100%;
}

.discussion td{
  padding: 10px;
  vertical-align: top;
}

.discussion td.first{
  text-align: right;
}

td.expand {
  width: 99%;
}
td.fitcell {
  text-align: right;
  width: 1%;
  white-space:nowrap
}

ul.tab {
    list-style-type: none;
    text-align: center; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
ul.tab li {display: inline;}
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.tab li a:hover {background-color: #ddd;}
ul.tab li a:focus, .active {background-color: #ccc;}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 12pt;
}


* {
  box-sizing: border-box;
}

.container_top {
  width: 90%;
  max-width: 1500px;
  height: 80px;
  margin: 40px auto; 
  position: relative;
}

.one > div {
  height: 50px;
}

.main {
  background: #0fadc0; 
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}

.names_div {
  border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  position: relative;
  margin-bottom: 50px;
}

.bk {
 background: #1199a9;
 position: absolute;
 width: 8%;
 top: 12px;
}

.bk.l {
 left: 0;
}

.bk.r {
 right: 0;
}

.skew {
  position: absolute;
  background: #0c7582;
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  left: 5%;
  transform: skew(00deg,20deg);
}

.skew.r {
  right: 5%;
  transform: skew(00deg,-20deg);
}

.bk.l > div {
  left: -30px;
}

.bk.r > div {
  right: -30px;
}

.arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
  width: 0; 
  height: 0; 
}

.arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;  
  border-right: 30px solid #1199a9; 
}

.arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
  border-bottom:0px solid transparent;  
  border-right: 30px solid #1199a9; 
}

.r .bottom {
  border-top: 25px solid transparent;
  border-bottom: 0px solid transparent;   
  border-left: 30px solid #1199a9; 
  border-right: none;
}

.r .top {
  border-bottom: 25px solid transparent;
  border-top: 0px solid transparent;  
  border-left: 30px solid #1199a9; 
  border-right: none;
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}
